<div class="add-participant">
  <form action="/add_participant" method="POST">
    <input type="text" name="nickname" value="<%= nickname %>"/>
    <input type="password" name="password"/>
    <input type="hidden" name="token" value="<%= token %>"/>
    <input type="submit" name="Submit"/>
  </form>
</div>
