body {
  margin: 1em;
  font-family: sans-serif;
  background-color: #E1E3E4;
}

.date {
  font-size: 12px;
}

.points {
  width: 3em;
}

.tiebreaker {
  width: 3em;
}

.chosen {
  font-weight: bold;
}

.not-chosen {
  font-weight: lighter;
}

.picks-table {
  border: 0;
  border-collapse: collapse;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.game-control {
  text-decoration: none;
}

tbody tr:nth-child(even) {
  background: #f0f0f2;
}

td {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

input[type="submit"] {
  background-color: #35CEED;
  color: #537278;
  border-radius: 5px;
  font-size: 18px;
  padding: 0.3em;
}

input[type="submit"]:disabled {
  background-color: #E0E8EA;
}

.login-container {
  padding: 10px;
  border: 1px;
  border-color: black;
  border-style: solid;
  width: 20em;
  margin-left: 25em;
}

.login-container > form > div {
  padding: 5px;
}

.picks-header {
  float: right;
  padding-right: 2em;
}

.picks-header > a {
  text-decoration: none;
  color: #35CEED;
}

.picks-title {
  padding-left: 2em;
}

.participant-info {
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
