
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Add Participant</title>
<meta name="generator" content="Bluefish 2.2.11" >
<meta name="author" content="Fred de St. Croix" >
<meta name="date" content="2020-12-23T14:09:55-0800" >
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
<meta http-equiv="content-style-type" content="text/css">

<link href="foot.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- <h2>The picks page is not working right now! It will be fixed soon.</h2> -->
<div id="header">
<h1 style="font-size: 38px;"><b>FAMILY FUN FOOTBALL</b></h1>	

</div>
<div id="eform" style="padding: 20px; background-color: #ffffff; border: solid;">
	<div style="width: 500px; background-color: #ffffff;">
	<h4 style="float: right;"><a href="family_fun.html">Family Fun Rankings</a></h4>
	<h3 style="text-align: center; " >Family Fun Registration</h3>
	<b><p>Instructions:</p></b>
<p>To submit your picks, please enter your entry nickname, password, name, e-mail address, and phone number and click submit. If successful, "Insert Good" will display and your entry nickname will appear in the Registered Participants column to the right (you may need to scroll down to find your nickname).</p>
<p> After creating your entry nickname(s), enter your password and click on "Your Picks" next to your entry nickname(s) in the Registered Participants table to the right.</p>
<p>If you have any troubles or questions email <a href="mailto:familyfun@wideopenwest.com">Family Fun Coordinator.</a></p>
	
	</div>
	<form method="post">
	<div align="center">
	<table cellspacing="0" cellpadding="3" border="0">
		<tr>
			<td colspan="2"><p style="text-align: right;">Nickname:</p></td>
			<td><input type="text" name="nick" value="" size="10" maxlength="20" /></td>
			<td><span style="color: red;">required</span></td>		
		</tr>	
		<tr>
			<td colspan="2"><p style="text-align: right;">Password:</p></td>
			<td><input type="password" value="" name="password" size="10" maxlength="10" /></td>		
			<td><span style="color: red;">required</span></td>		
		</tr>
		<tr>
			<td colspan="4">&nbsp;</td>		
		</tr>
		<tr>
			<td colspan="2"><p style="text-align: right;">Name:</p></td>
			<td colspan="2"><p style="text-align: left;" ><input type="text" name="uname" value="" size="25" maxlength="50" /></p></td>		
		</tr>			
		<tr>
			<td colspan="2"><p style="text-align: right;">Email:</p></td>
			<td colspan="2"><p style="text-align: left;" ><input type="text" name="email" value="" size="25" maxlength="100" /></p></td>		
		</tr>	
		<tr>
			<td colspan="2"><p style="text-align: right;">Phone:</p></td>
			<td colspan="2"><p style="text-align: left;" ><input type="text" name="phone" value="" size="15" maxlength="15" /></p></td>		
		</tr>	
		<tr>
			<td colspan="4"><p style="text-align: center"> <input type="submit" name="submit" value="Submit" /></p></td>		
		</tr>	
	</form>
	</table>
</div></div>

</div>
<div id="gamelist">
	<table border="1" cellspacing="0" cellpadding="2">

	<tr>
		<td colspan="2"><div style="text-align: center">27 REGISTERED PARTICIPANTS</div></td>
	</tr><tr>
		<td>Beachnut701</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Beachnut701" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>BGSU</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="BGSU" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Big D</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Big D" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>BornOn3rd</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="BornOn3rd" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>BornOn3rd II</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="BornOn3rd II" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Broad Jumper</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Broad Jumper" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Brutis</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Brutis" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Buckeye Dick</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Buckeye Dick" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Dan O</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Dan O" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Deeetroit Chippewa</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Deeetroit Chippewa" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Flash</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Flash" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Flyrod</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Flyrod" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Grampy</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Grampy" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Kiltlifter</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Kiltlifter" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Kiltlifter2</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Kiltlifter2" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Meema</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Meema" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Miss Scarlet</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Miss Scarlet" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>NowAHodge</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="NowAHodge" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Oak Tree</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Oak Tree" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>OSU Sux</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="OSU Sux" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>ROBMAC</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="ROBMAC" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>scubamichael</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="scubamichael" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>The Van Clan</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="The Van Clan" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Whitey</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Whitey" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Winning Woman</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Winning Woman" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>WinningWoman2</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="WinningWoman2" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr><tr>
		<td>Yooper Boy</td>
		<td><form action="picks.html" method="post">Password: <input type="password" name="pswd" size="10" maxlength="10" /><div style="text-align: center"><input type="submit" name="submit" value="Your Picks" /></div><input type="hidden" name="pl" value="Yooper Boy" /><input type="hidden" name="saywhat" value="iesucks" /></form></td>
	</tr></table>
</div>
</body>
</html>