

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Family Fun Football  22/23 SEASON </title>
<meta name="generator" content="Bluefish 2.2.11" >
<meta name="author" content="Fred de St. Croix" >
<meta name="date" content="2020-12-23T14:32:38-0800" >
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
<meta http-equiv="content-style-type" content="text/css">

<!--[if lt IE 7.]>
<style type="text/css">
img, div { behavior: url(iepngfix.htc) }
</style>
<![endif]-->

<link href="foot.css" rel="stylesheet" type="text/css">
</head>


<body onload="startTime()">

<div id="eform">
<div id="header">
<h1 style="font-size: 38px;"><b>FAMILY FUN FOOTBALL  22/23 SEASON</b></h1>	

</div>
<h4 style="color: black; padding: 0px; margin: 0px;">The pigskin prognosticator with the MOST POINTS CORRECT in this fun activity will be the winner.  Total points scored in the Rose Bowl is the tie breaker (nearest to actual). GOOD LUCK</h4>

	<table cellspacing="0" cellpadding="2" border="1" style="background-image: url('images/field.png'); margin-right: 20px;">
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;"><b>Bowl:</b></p></td>	

			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Bahamas Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Cure Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Fenway Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Celebration Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Las Vegas Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>LA Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>LendingTree Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>New Mexico Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Frisco Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Myrtle Beach Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Idaho Potato Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Boca Raton Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>New Orleans Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Armed Forces Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Independence Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Gasparilla Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Hawaii Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Quick Lane Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Camellia Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>First Responder Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Birmingham Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Guaranteed Rate Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Military Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Liberty Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Holiday Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Texas Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Pinstripe Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Cheez-It Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Alamo Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Dukes Mayo Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Sun Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Gator Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Arizona Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Orange Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Music City Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Sugar Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Peach Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Fiesta Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>ReliaQuest Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Cotton Bowl</b></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"><b>Citrus Bowl</b></p></td>
			<td colspan="2" ><p class="tbcen"><b>Rose Bowl</b></p></td>
		</tr>
		<tr>
			<td colspan="2"><p class="tbcen" style="text-align: right;">Location:</p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
			<td colspan="2" style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2" ><p class="tbcen"></p></td>
		</tr>
		<tr>
			<td colspan="2"><p class="tbcen" style="text-align: right;">Date:<br/>Time:</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 16<br/><span style="white-space: nowrap;">11:30 am</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 16<br/><span style="white-space: nowrap;">03:00 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 17<br/><span style="white-space: nowrap;">11:00 am</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 17<br/><span style="white-space: nowrap;">12:00 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 17<br/><span style="white-space: nowrap;">02:30 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 17<br/><span style="white-space: nowrap;">03:30 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 17<br/><span style="white-space: nowrap;">05:45 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 17<br/><span style="white-space: nowrap;">07:30 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 17<br/><span style="white-space: nowrap;">09:15 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 19<br/><span style="white-space: nowrap;">02:30 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 20<br/><span style="white-space: nowrap;">03:30 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 20<br/><span style="white-space: nowrap;">07:30 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 21<br/><span style="white-space: nowrap;">09:00 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 22<br/><span style="white-space: nowrap;">07:30 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 23<br/><span style="white-space: nowrap;">03:00 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 23<br/><span style="white-space: nowrap;">06:30 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 24<br/><span style="white-space: nowrap;">08:00 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 26<br/><span style="white-space: nowrap;">02:30 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 27<br/><span style="white-space: nowrap;">12:00 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 27<br/><span style="white-space: nowrap;">03:15 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 27<br/><span style="white-space: nowrap;">06:45 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 27<br/><span style="white-space: nowrap;">10:15 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 28<br/><span style="white-space: nowrap;">02:00 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 28<br/><span style="white-space: nowrap;">05:30 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 28<br/><span style="white-space: nowrap;">08:00 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 28<br/><span style="white-space: nowrap;">09:00 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 29<br/><span style="white-space: nowrap;">02:00 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 29<br/><span style="white-space: nowrap;">05:30 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 29<br/><span style="white-space: nowrap;">09:00 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 30<br/><span style="white-space: nowrap;">12:00 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 30<br/><span style="white-space: nowrap;">02:00 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 30<br/><span style="white-space: nowrap;">03:30 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 30<br/><span style="white-space: nowrap;">04:30 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 30<br/><span style="white-space: nowrap;">08:00 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 31<br/><span style="white-space: nowrap;">12:00 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 31<br/><span style="white-space: nowrap;">12:15 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Dec. 31<br/><span style="white-space: nowrap;">02:00 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Dec. 31<br/><span style="white-space: nowrap;">04:00 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Jan. 02<br/><span style="white-space: nowrap;">12:00 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Jan. 02<br/><span style="white-space: nowrap;">01:00 pm</span></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Jan. 02<br/><span style="white-space: nowrap;">01:00 pm</span></p></td>
			<td colspan="2"  ><p class="tbcen">Jan. 02<br/><span style="white-space: nowrap;">05:00 pm</span></p></td>
		</tr>
		<tr>
			<td colspan="2"><p class="tbcen" style="text-align: right;">Channel:</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  ><p class="tbcen">ABC</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen"></p></td>
			<td colspan="2"  ><p class="tbcen">ABC</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  ><p class="tbcen">ABC</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  ><p class="tbcen"></p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Fox</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">CBS</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">Barst</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ABC</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ESPN2</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
			<td colspan="2"  style="background-image: url('images/bgtd.png')"  ><p class="tbcen">ABC</p></td>
			<td colspan="2"  ><p class="tbcen">ESPN</p></td>
		</tr>
		<tr>
			<td colspan="2"><p class="tbcen" style="text-align: right;">Result:</p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  style="background-image: url('images/bgtd.png')";  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen"><b></b></p></td>
			<td  ><img src="images/trans.gif" width="50" height="1" /><br/><p class="tbcen" ><b></b></p></td>
		</tr>
		<tr>
			<td colspan="2"><p class="tbcen" style="text-align: right;">Teams:</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Miami (Ohio)</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >UAB</p></td>
			<td><p class="tbcen" >Troy</p></td>
			<td><p class="tbcen" >UTSA</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Cincinnati</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Louisville</p></td>
			<td><p class="tbcen" >Jackson State</p></td>
			<td><p class="tbcen" >NC Central</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Oregon State</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Florida</p></td>
			<td><p class="tbcen" >Washington State</p></td>
			<td><p class="tbcen" >Fresno State</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Rice</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Southern Mississippi</p></td>
			<td><p class="tbcen" >SMU</p></td>
			<td><p class="tbcen" >BYU</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Boise State</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >North Texas</p></td>
			<td><p class="tbcen" >Marshall</p></td>
			<td><p class="tbcen" >UConn</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Eastern Michigan</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >San Jose State</p></td>
			<td><p class="tbcen" >Liberty</p></td>
			<td><p class="tbcen" >Toledo</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >South Alabama</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Western Kentucky</p></td>
			<td><p class="tbcen" >Baylor</p></td>
			<td><p class="tbcen" >Air Force</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Houston</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Louisiana Lafayette</p></td>
			<td><p class="tbcen" >Wake Forest</p></td>
			<td><p class="tbcen" >Missouri</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Middle Tennessee State</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >San Diego State</p></td>
			<td><p class="tbcen" >Bowling Green</p></td>
			<td><p class="tbcen" >New Mexico State</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Buffalo</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Georgia Southern</p></td>
			<td><p class="tbcen" >Memphis</p></td>
			<td><p class="tbcen" >Utah State</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Coastal Carolina</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >East Carolina</p></td>
			<td><p class="tbcen" >Oklahoma State</p></td>
			<td><p class="tbcen" >Wisconsin</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Duke</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >UCF</p></td>
			<td><p class="tbcen" >Arkansas</p></td>
			<td><p class="tbcen" >Kansas</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Oregon</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >North Carolina</p></td>
			<td><p class="tbcen" >Texas Tech</p></td>
			<td><p class="tbcen" >Ole Miss</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Minnesota</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Syracuse</p></td>
			<td><p class="tbcen" >Florida State</p></td>
			<td><p class="tbcen" >Oklahoma</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Washington</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Texas</p></td>
			<td><p class="tbcen" >NC State</p></td>
			<td><p class="tbcen" >Maryland</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >UCLA</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Pitt</p></td>
			<td><p class="tbcen" >South Carolina</p></td>
			<td><p class="tbcen" >Notre Dame</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Ohio</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Wyoming</p></td>
			<td><p class="tbcen" >Tennessee</p></td>
			<td><p class="tbcen" >Clemson</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Iowa</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Kentucky</p></td>
			<td><p class="tbcen" >Alabama</p></td>
			<td><p class="tbcen" >Kansas State</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Georgia</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Ohio State</p></td>
			<td><p class="tbcen" >Michigan</p></td>
			<td><p class="tbcen" >TCU</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Mississippi State</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Illinois</p></td>
			<td><p class="tbcen" >USC</p></td>
			<td><p class="tbcen" >Tulane</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >LSU</p></td>
			<td style="background-image: url('images/bgtd.png')" ><p class="tbcen" >Purdue</p></td>
			<td><p class="tbcen" >Utah</p></td>
			<td><p class="tbcen" >Penn State</p></td>
		</tr>
		<tr>
			<td colspan="2"><p class="tbcen" style="text-align: right;">Record:</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(11-2)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(11-2)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(9-3)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(12-0)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(9-2)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(9-3)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(9-4)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(5-7)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(9-4)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(7-6)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(7-4)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(8-5)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(10-2)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(8-5)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(9-3)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(9-3)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(9-4)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(9-3)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(9-4)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(9-3)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(10-2)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(9-3)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(9-4)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(10-2)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(11-2)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(10-2)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(10-3)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(13-0)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(11-1)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(13-0)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(12-1)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(11-2)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(11-2)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png');" ><p class="tbcen" style="white-space: nowrap;">(9-4)</p></td>
			<td width="100"  style="background-image: url('images/bgtd.png')" ><p class="tbcen" style="white-space: nowrap;">(8-5)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(10-3)</p></td>
			<td width="100" ><p class="tbcen" style="white-space: nowrap;">(10-2)</p></td>
		<td rowspan="2"><p class="tbcen"><b><a href="?s=correct">Points<br/>Correct</a></b></p></td>
		<td rowspan="2"><p class="tbcen"><b><a href="?s=wrong">Points<br/>Incorrect</a></b></p></td>
		<td rowspan="2"><p class="tbcen"><b><a href="?s=tie">Tie<br/>Breaker</a></b></p></td>
		<td rowspan="2"><p class="tbcen"><b><a href="?s=nick">Participants</a></b></p></td>
		</tr>
		</table>
			<span id="tzcd"></span></br>
			
			<a href="?year=1639877123">View Previous Year's Results.</a> | <a href="?year=1670981123" >Current Year</a></p>

	<h3><a href="add_participant.html">Add Participant</a></h3>
</div>

<SCRIPT type="text/javascript">

function highlight(hirow) {
	bCol = document.getElementById(hirow).style.backgroundColor;
	if (bCol == '') {
		document.getElementById(hirow).style.backgroundColor = '#eff12b'; 
		}
	else {
		document.getElementById(hirow).style.backgroundColor = '';
		}
}


// ****  Time Zone Count Down Javascript  **** //
/*
Visit http://rainbow.arch.scriptmania.com/scripts/
 for this script and many more
*/

////////// CONFIGURE THE COUNTDOWN SCRIPT HERE //////////////////

var month = '12';     //  '*' for next month, '0' for this month or 1 through 12 for the month 
var day = '16';       //  Offset for day of month day or + day  
var hour = 11;        //  0 through 23 for the hours of the day
var tz = -5;         //  Offset for your timezone in hours from UTC
var lab = 'tzcd';    //  The id of the page entry where the timezone countdown is to show

function start() {displayTZCountDown(setTZCountDown(month,day,hour,tz),lab);}

    // **    The start function can be changed if required   **
window.onload = start;

////////// DO NOT EDIT PAST THIS LINE //////////////////

function setTZCountDown(month,day,hour,tz) 
{
var toDate = new Date();
if (month == '*')toDate.setMonth(toDate.getMonth() + 1);
else if (month > 0) 
{ 
if (month <= toDate.getMonth())toDate.setYear(toDate.getYear() + 1);
toDate.setMonth(month-1);
}
if (day.substr(0,1) == '+') 
{var day1 = parseInt(day.substr(1));
toDate.setDate(toDate.getDate()+day1);
} 
else{toDate.setDate(day);
}
toDate.setHours(hour);
toDate.setMinutes(0-(tz*60));
toDate.setSeconds(0);
var fromDate = new Date();
fromDate.setMinutes(fromDate.getMinutes() + fromDate.getTimezoneOffset());
var diffDate = new Date(0);
diffDate.setMilliseconds(toDate - fromDate);
return Math.floor(diffDate.valueOf()/1000);
}
function displayTZCountDown(countdown,tzcd) 
{
if (countdown < 0) document.getElementById(tzcd).innerHTML = " Good Luck to Everyone! And Merry Christmas!"; 
else {var secs = countdown % 60; 
if (secs < 10) secs = '0'+secs;
var countdown1 = (countdown - secs) / 60;
var mins = countdown1 % 60; 
if (mins < 10) mins = '0'+mins;
countdown1 = (countdown1 - mins) / 60;
var hours = countdown1 % 24;
var days = (countdown1 - hours) / 24;
document.getElementById(tzcd).innerHTML = "<h1>" +days + " day" + (days == 1 ? '' : 's') + ' and ' +hours+ ':' +mins+ ':'+secs+' Left</h1>';
setTimeout('displayTZCountDown('+(countdown-1)+',\''+tzcd+'\');',999);
}
}
</SCRIPT>


</body>
</html>